@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: local('ProximaNova'),
  local('ProximaNova'),
  url('../fonts/ProximaNova-Reg.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/ProximaNovaThin.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 200;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNova-Light.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 200;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNova-LightIt.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 600;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNovaSemibold.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNova-Bold.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 900;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNova-Xbold.otf') format("opentype");
}

@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/BebasNeueBook.otf') format("opentype");
}
@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BebasNeueRegular.otf') format("opentype");
}
@font-face {
  font-family: 'BebasNeue';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/BebasNeueBold.otf') format("opentype");
}

