@font-face {
  font-family: 'ProximaNovaReg';
  font-style: normal;
  font-weight: 400;
  src: local('ProximaNova'),
  local('ProximaNova'),
  url('../fonts/ProximaNova/ProximaNova-Reg.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNovaThin';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/ProximaNova/ProximaNovaThin.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNovaLight';
  font-style: normal;
  font-weight: 200;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNova/ProximaNova-Light.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNovaLightIt';
  font-style: italic;
  font-weight: 200;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNova/ProximaNova-LightIt.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNovaSemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNova/ProximaNovaSemibold.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNovaBold';
  font-style: normal;
  font-weight: 700;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNova/ProximaNova-Bold.otf') format("opentype");
}
@font-face {
  font-family: 'ProximaNovaExtraBold';
  font-style: normal;
  font-weight: 900;
  src: local('ProximaNova'),
  local('Proxima-Nova'),
  url('../fonts/ProximaNova/ProximaNova-Xbold.otf') format("opentype");
}

@font-face {
  font-family: 'BebasNeueLight';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Bebas/BebasNeueBook.otf') format("opentype");
}
@font-face {
  font-family: 'BebasNeueReg';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Bebas/BebasNeueRegular.otf') format("opentype");
}
@font-face {
  font-family: 'BebasNeueBold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Bebas/BebasNeueBold.otf') format("opentype");
}

