.reset();
html{
  font-size: 10px;
  .md-block({font-size: 8px;});
  .xs-block({ font-size: 6px;});
}
body {
  font-family: @fontProxima;
  min-height: 100vh;
  background-color: #fff;
  color: #fff;
}
.container {
  position: relative;
  .wrapper();
}
a{
  text-decoration: none;
}

