.reset();
html{
  font-size: 10px;
  .md-block({ font-size: 8px; });
  .xs-block({ font-size: 6px; });
}
body {
  font-family: @ProximaNova;
  background-color: #fff;
  font-weight: 400;
  color: @grayMain;
}
.container {
  position: relative;
  .wrapper();
}
a {
  text-decoration: none;
}

.g-number {
  margin-bottom: 5px;
  font-family: @BebasNeue;
  font-size: 2.4rem;
  letter-spacing: 0.17rem;
  color: @blueMain;
  font-weight: 600;
}
.g-caption-section {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  font-family: @BebasNeue;
  font-size: 6rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  .sm-block({
    font-size: 5rem;
  });
  .xs-block({
    font-size: 4rem;
  });
  strong {
    font-weight: 600;
  }
}
.gradient-text {
  background: linear-gradient(45deg, #2578bc, #279cfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #2578bc;
}
.gradient {
  background: linear-gradient(45deg, #2578bc, #279cfc);
}
.black {
  color: @blackMain;
}
