.reset();
html {
  font-size: 10px;
  .md-block({ font-size: 8px; });
  .xs-block({ font-size: 6px; });
}
body {
  font-family: @ProximaNova;
  font-weight: 400;
  color: #fff;
  background: #fff;
}
main {
  overflow: hidden;
}
.container {
  position: relative;
  .wrapper();
  box-sizing: border-box;
  z-index: 99;
}
a {
  text-decoration: none;
}
.g-number {
  position: relative;
  margin-bottom: 5px;
  font-size: 2.4rem;
  letter-spacing: 0.17rem;
  font-weight: 900;
}
.g-caption-section {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 5rem;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
  font-weight: 900;
  .md-block({ font-size: 4rem; });
  .xs-block({ font-size: 3rem; });
  span {
    color: #fff;
  }
  strong {
    display: block;
    color: #fff;
    font-size: 100px;
    letter-spacing: 0.6rem;
    font-weight: 900;
    .lg-block({ font-size: 70px; letter-spacing: 0.4rem;});
    .sm-block({ font-size: 45px; letter-spacing: 0.3rem;});
  }
}
.gradient-text {
  background: @gradientDefault;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #4022a8;
}
.gradient {
  background: linear-gradient(0deg, #f816e0, #e6516d);
}

.highcharts-credits {
  display: none !important;
}
.btn {
  display: inline-block;
  padding: 32px 115px;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 0.14rem;
  color: #fff;
  transition: box-shadow 0.3s ease;
  .sm-block({ padding: 25px 80px; font-size: 18px; });
  .xs-block({ padding: 20px 60px; font-size: 16px; });
  background: @gradientDefault;
}
.bg-dotty {
  background: #efebfb url("/img/bg.png");
  position: relative;
  &::after, &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 30vh;
  }
  &::after {
    top: 0;
    background: linear-gradient(to bottom, #fff 0%, transparent 100%);
  }
  &::before {
    bottom: 0;
    background: linear-gradient(to top, #fff 0%, transparent 100%);
  }
}
.skew-block {
  position: absolute;
  .skew-block();
  left: 0;
  right: 0;
  background: #fff;
  z-index: 15;
  .lg-block({
    .skew-block(-90px, -90px);
  });
  .sm-block({
    .skew-block(-60px, -60px);
  });
}
a.gtc {
  display: flex;
  width: 130px;
  height: 130px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-left: 5px solid #ff3ae9;
  border-right: 5px solid @red;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #ff3ae9 0%, @red 100%), linear-gradient(to right, #ff3ae9 0%, @red 100%);
  background-size: 100% 5px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  .lg-block({ width: 90px; height: 90px; border-left: 3px solid #ff3ae9; border-right: 3px solid @red; background-size: 100% 3px; });
  .sm-block({ width: 70px; height: 70px; });
  .wbc {
    font-size: 35px;
    font-weight: 900;
    .lg-block({ font-size: 28px; });
    .sm-block({ font-size: 22px; });
  }
  .wbc--small {
    font-size: 14px;
    .lg-block({ font-size: 12px; });
    .sm-block({ font-size: 10px; });
  }
}
